<%= _.template(require('./../includes/header.html').default)(data) %>

<h2 class="mt-5">Hello!</h2>
<div class="bs">
  <div class="container">
    <div class="row">
      <div class="col-3">1</div>
      <div class="col-3">2</div>
      <div class="col-3">3</div>
      <div class="col-3">4</div>
      <div class="col-auto">5</div>
      <div class="col">6</div>
      <div class="col">7</div>
      <div class="w-100"></div>
      <div class="col">8</div>
      <div class="col">9</div>
      <div class="col">10</div>
      <div class="col">11</div>
      <div class="col">12</div>
    </div>
  </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>